.App {
    text-align: center;
    background: #000000;
    width: 375px;
    margin: auto;
    padding: 0 15px;
    color: aliceblue;
    box-sizing: border-box;
    position: relative;
}
.error{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,0.5);
}
.error-message{
    width: 100px;
    height: 50px;
    line-height: 50px;
    margin: auto;
    border-radius: 10px;
    background: #333333;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}